extends profile.pug

block append head
		link(href="styles/laststand-styles.css" rel="stylesheet" type="text/css")

block append content
	.container-fluid
		.row
			.col-md-16
				h1#title Last Stand
		#UI.row
			.col-md-4
				p#response server reponse test
			#stop.col-md-4
				button stop
			#start.col-md-4
				button start
			#health.col-md-4
				p Player Health
				progress(value="0" max="100")
		.row
			.col-md-16
				canvas#myCanvas(width="0" height="0")
		.row
			img#spriteSheet(src="fullSheet100.png")
block prepend foot
	script(data-main="js/laststand.js" src="js/require.js")
