extends profile.pug

block append head
		link(href="styles/messaging-styles.css" rel="stylesheet" type="text/css")

block append content
	.container-fluid
		.row
			.col-md-16
				h1#title Messaging
		if user !== undefined
			.row
				#messaging.col-md-16
					#talkspace.col.md-4
						#test.row
							ul
								each val in messages.all
									li= val 
			.row
				#textbox.col-md-2
					form
						input#message(type="text" placeholder="Send a message" required )
				#buttons.col-md-2
					button#send(type="submit") send
block prepend foot
	script(data-main="js/messaging.js" src="js/require.js")
