* {
    padding: 0;
    margin: 0;
}
canvas {
    background: #b3d9ff;
    display: block;
    margin: 0 auto;
}
#spriteSheet {
    display: none;
}
#title {
	text-align: center;
}
#response {
	text-align: center;
}
#UI {
	float: left;
}
#health {
	color: red;
}
p {
	color: black;
}