* {
    padding: 50;
    margin: 50;
}
#title {
	text-align: center;
}
#messaging {
	width: 90%;
}
#textbox {
	width: 400px;
	height: 400px;
}
input {
	float: right;
	width: 350px;
	height: 175px;
}
ul  {
	list-style-type: none;
}